.chatBox-domino-container{
    width: 100%;
    height: 450px;
}

.form-container{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 20px; */
  background-color:  rgba(0, 0, 0, 0.7);
  border: 5px solid rgb(181, 82, 38);
  /* border: 5px solid rgb(255, 121, 115); */

}

.max-height{
    height: 100%;
}

.header h1 {
    margin: 7px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .70px
}

.msg-area {
    color: white;
    width: 100%;
    height: 80%;
    /* margin: 20px; */
    background-color:  rgba(0, 0, 0, 0.7);
    /* padding: 20px 30px; */
    overflow: auto;

}

.send-textarea {
    padding: 5px;
    color: white;
    font-size: 20px;
}


.text-area{
    width: 100%;
    height: 46px;
}

.input-textarea{
    width: 350px;
    height: 50;
    font-size: 18px;
    border: 0;
    margin: 0px;
}

.send-button{
    /* margin-bottom: 8px; */
    height: 52px;
    width: 80px;
    background-color: rgb(84, 180, 198);
    font-weight: 900;
    border: 0;
    cursor: pointer;
    margin: 0;
    font-size: 18px;
    
}

.capicua-domino-lrg{
    width:  30%;
    /* margin: 5px; */

}