.rules-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    background-color:  rgba(0, 0, 0, 0.7);
    border: 5px solid rgba(255, 255, 255, 0.466);
    flex: 1;
}

.game-rule{
    font-size: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .70px;
}